.textfield input {
    color: var(--text-primary) !important;
    -webkit-text-fill-color: var(--text-primary);
    line-height: normal;
}

.textfield textarea {
    color: var(--text-primary) !important;
    -webkit-text-fill-color: var(--text-primary);
    line-height: normal;
}

.textfield {
    margin: 12px 0 !important;
}

